@*Admin Area*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/adminArea/libs/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/adminArea/css/styles.min.css"/>

</head>
<body>
    <!--  Body Wrapper Start -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed">
        <!-- Sidebar Start -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div>
                <div class="brand-logo d-flex align-items-center justify-content-around">
                    <a class="navbar-brand px-2" asp-area="admin" asp-controller="Home" asp-action="Index">
                        <h3>DeltaBall Moderate</h3>
                    </a>
                    <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                        <i class="ti ti-x fs-8 text-danger"></i>
                    </div>
                </div>
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
                    <ul id="sidebarnav">
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-area="admin" asp-controller="Home" asp-action="Index" aria-expanded="false">
                                <span>
                                    <i class="ti ti-home-2"></i>
                                </span>
                                <span class="hide-menu">Главная</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-area="" asp-controller="Home" asp-action="Index" aria-expanded="false">
                                <span>
                                    <i class="ti ti-network"></i>
                                </span>
                                <span class="hide-menu">Клиентская часть</span>
                            </a>
                        </li>
                        <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                            <span class="hide-menu">Таблицы</span>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-area="admin" asp-controller="Table" asp-action="Info" asp-route-name="Clients" aria-expanded="false">
                                <span>
                                    <i class="ti ti-users"></i>
                                </span>
                                <span class="hide-menu">Клиенты</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-area="admin" asp-controller="Table" asp-action="Info" asp-route-name="GameScenarios" aria-expanded="false">
                                <span>
                                    <i class="ti ti-brand-storybook"></i>
                                </span>
                                <span class="hide-menu">Игровые сценарии</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-area="admin" asp-controller="Table" asp-action="Info" asp-route-name="GameTypes" aria-expanded="false">
                                <span>
                                    <i class="ti ti-spray"></i>
                                </span>
                                <span class="hide-menu">Игровые режимы</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-area="admin" asp-controller="Table" asp-action="Info" asp-route-name="GameStatuses" aria-expanded="false">
                                <span>
                                    <i class="ti ti-status-change"></i>
                                </span>
                                <span class="hide-menu">Статусы игры</span>
                            </a>
                        </li>
                        @*Здесь будет информация об игре и ее участниках(таблица Players)*@
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-area="admin" asp-controller="Table" asp-action="Info" asp-route-name="ScheduleGames" aria-expanded="false">
                                <span>
                                    <i class="ti ti-device-gamepad-2"></i>
                                </span>
                                <span class="hide-menu">Игры</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-area="admin" asp-controller="Table" asp-action="Info" asp-route-name="Prices" aria-expanded="false">
                                <span>
                                    <i class="ti ti-tag"></i>
                                </span>
                                <span class="hide-menu">Цены</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-area="admin" asp-controller="Rank" asp-action="Info" aria-expanded="false">
                                <span>
                                    <i class="ti ti-military-rank"></i>
                                </span>
                                <span class="hide-menu">Ранги</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-area="admin" asp-controller="Table" asp-action="Info" asp-route-name="ShootRanges" aria-expanded="false">
                                <span>
                                    <i class="ti ti-stack-push"></i>
                                </span>
                                <span class="hide-menu">Полигоны</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-area="admin" asp-controller="UserExpChange" asp-action="Info" aria-expanded="false">
                                <span>
                                    <i class="ti ti-history"></i>
                                </span>
                                <span class="hide-menu">История изменения опыта</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-area="admin" asp-controller="Table" asp-action="Info" asp-route-name="UserExpChangeModes" aria-expanded="false">
                                <span>
                                    <i class="ti ti-history-toggle"></i>
                                </span>
                                <span class="hide-menu">Режимы изменения опыта</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- Sidebar End -->
        <div class="body-wrapper">
            <!-- Header Start -->
            <header class="app-header">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <ul class="navbar-nav">
                        <li class="nav-item d-block d-xl-none">
                            <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)">
                                <i class="ti ti-menu-2"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
                        <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
                            <li class="nav-item p-3">
                                <partial name="_LoginPartial" />
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown"
                                   aria-expanded="false">
                                    <img src="~/Images/profileAdmin.jpg" alt="" width="35" height="35" class="rounded-circle">
                                </a>
                                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
                                    <div class="message-body">
                                        <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" class="d-flex align-items-center gap-2 dropdown-item">
                                            <i class="ti ti-user fs-6"></i>
                                            <p class="mb-0 fs-3">Управление аккаунтом</p>
                                        </a>
                                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                            <button type="submit" class="btn btn-outline-primary mx-3 mt-2 d-block">Выйти из аккаунта</button>
                                        </form>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
            <!-- Header End -->
            <div class="container-fluid">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>
            <footer class="border-top footer text-muted">
                <div class="container">
                    <p>&copy; 2023 - DeltaBall</p>
                    <p class="mb-0 fs-4">Design and Developed by <a href="https://adminmart.com/" target="_blank" class="pe-1 text-primary text-decoration-underline">AdminMart.com</a> Distributed by <a href="https://themewagon.com">ThemeWagon</a></p>
                </div>
            </footer>
        </div>
    </div>
    <!--  Body Wrapper End -->
</body>
<script src="~/adminArea/libs/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/common/lib/jquery/dist/jquery.min.js"></script>
<script src="~/adminArea/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/adminArea/libs/apexcharts/dist/apexcharts.min.js"></script>
<script src="~/adminArea/js/sidebarmenu.js"></script>
<script src="~/adminArea/js/app.min.js"></script>
<script src="~/adminArea/js/dashboard.js"></script>
@await RenderSectionAsync("Scripts", required: false)
</html>
