@model DeltaBall.Data.Models.UserExpChangeMode

<div class="card">
    <div class="card-body">
        <h5 class="card-title fw-semibold mb-4">@ViewData["Title"]</h5>
        <div class="card rounded mb-0">
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group p-3">
                            <label asp-for="Name" class="form-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group p-1 px-3">
                            <label asp-for="Description" class="form-label"></label>
                            @Html.TextAreaFor(e => e.Description, 10, 55, new { @class = "form-control" })
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group p-1 px-3">
                            <label asp-for="Multiplier" class="form-label"></label>
                            <input asp-for="Multiplier" class="form-control" type="number" step="any" min="-10.0" max="10.0"/>
                            <span asp-validation-for="Multiplier" class="text-danger"></span>
                        </div>
                        <div class="form-group p-3">
                            <input type="submit" value="Создать" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
            <hr />
            <div class="p-3">
                <a asp-area="Admin" asp-controller="Table" asp-action="Info" asp-route-name="UserExpChangeModes" class="btn btn-outline-info">Вернуться</a>
            </div>
        </div>
    </div>
</div>
<hr />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}