@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Доступ запрещен";
}

<div class="text-center">
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">У вас нет доступа к данному ресурсу!</p>
</div>
