@{
	ViewData["Title"] = "Вы участник!";
}
<div class="text-center">
	<h1>Вы уже присоединились к этой игре!</h1>
	<br/>
	<a asp-area="Player" asp-controller="Home" asp-action="Profile">В профиль</a>
</div>