@model DeltaBall.Data.Models.ScheduleGame
@{
    var datetime = DateTime.Now;
    string datetimeString = $"{datetime.Year}-{datetime.ToString("MM")}-{datetime.Day}T{datetime.Hour}:{datetime.Minute}";
}


<div class="container-xxl py-5 justify-content-center">
    <div class="container">
		<div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px; visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
			<h1 class="text-uppercase">@ViewData["Title"]</h1>
		</div>
        <div class="col-lg-6 col-md-6 ">
            <form asp-action="Create" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group p-3">
                    <label asp-for="Name" class="form-label text-primary"></label>
                    <input asp-for="Name" class="form-control" aria-required="true" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group p-1 px-3">
                    <label asp-for="StartDate" class="form-label text-primary"></label>
                    <input asp-for="StartDate" class="form-control" aria-required="true" min="@datetimeString"/>
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
                <div class="form-group p-1 px-3">
                    <label asp-for="Hours" class="form-label text-primary"></label>
                    <input asp-for="Hours" class="form-control" aria-required="true" max="5" step="1" min="1"/>
                    <span asp-validation-for="Hours" class="text-danger"></span>
                </div>
                <div class="form-group p-1 px-3">
                    <label asp-for="MaxPeoples" class="form-label text-primary"></label>
                    <input asp-for="MaxPeoples" class="form-control" aria-required="true"min="2" max="20"/>
                    <span asp-validation-for="MaxPeoples" class="text-danger"></span>
                </div>
                <div class="form-group p-1 px-3">
                    <label asp-for="RangeId" class="form-label text-primary"></label>
                    <select asp-for="RangeId" class="form-select" asp-items="ViewBag.RangeId"></select>
                </div>
                <div class="form-group p-1 px-3">
                    <label asp-for="ScenarioId" class="form-label text-primary"></label>
                    <select asp-for="ScenarioId" class="form-select" asp-items="ViewBag.ScenarioId"></select>
                </div>
                <div class="form-group p-3">
                    <label asp-for="TypeId" class="form-label text-primary"></label>
                    <select asp-for="TypeId" class="form-select" asp-items="ViewBag.TypeId"></select>
                </div>
                <div class="form-group p-3">
                    <input type="submit" value="Создать" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <hr />
    <div class="p-3">
        <a asp-area="Player" asp-controller="Home" asp-action="Profile" class="btn btn-outline-info">Вернуться</a>
    </div>
</div>