@{
	ViewData["Title"] = "Игра недоступна!";
}
<div class="text-center">
	<h1>Сожалеем, но данная игра уже завершена! Советуем поискать еще!</h1>
	<br />
	<a asp-area="Player" asp-controller="Home" asp-action="Profile" class="text-primary">В профиль</a>
</div>"