@{
	ViewData["Title"] = "Занято!";
}
<div class="text-center">
	<h1>Сожалеем, но данная игра уже заполнена! Попробуйте позже, или поищите другую!</h1>
	<br/>
	<a asp-area="Player" asp-controller="Home" asp-action="Profile" class="text-primary">В профиль</a>
</div>"